node_modules/
.expo/
ios/
android/
dist/
web-build/
expo-env.d.ts

.env
.env.local
.env.*.local

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.tsbuildinfo
.DS_Store

.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
